.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  z-index: 100;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

/*-------media query for smaller screens------*/
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  nav ul li a {
    color: #fff;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
}
