{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/product.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Cart - WhiteStore</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <a href="/"
            ><img src="{% static 'images/logo.png' %}" alt="logo" width="125px"
          /></a>
        </div>

        <nav>
          <ul id="menu-items">
            <li><a href="/">Home</a></li>

            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            {% if user.is_authenticated %}

            <li><a href="product">Products</a></li>
            <li>
              <a href="logout">Logout</a>
            </li>
            {% else %}
            <li>
              <a href="login">Login</a>
            </li>
            <li>
              <a href="register">Sign Up</a>
            </li>
            {% endif %}
          </ul>
        </nav>

        <a href="cart"
          ><img src="{% static 'images/cart.png' %}" alt="cart" height="30px"
        /></a>
        <img
          src="{% static 'images/menu.png' %}"
          alt=""
          height="28px"
          class="menu-icon"
          onclick="menuToggle()"
        />
      </div>
    </div>

    <div class="small-container cart-page">
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
        <tr>
          <td>
            <div class="cart-info">
              <img src="{% static 'images/buy-1.jpg' %}" />
              <div>
                <p>Red Printed T-shirt</p>
                <small>Price: $40.00</small><br />
                <a href="#" style="color: #ff523b">Remove</a>
              </div>
            </div>
          </td>
          <td><input type="number" value="1" /></td>
          <td>$50.00</td>
        </tr>
        <tr>
          <td>
            <div class="cart-info">
              <img src="{% static 'images/buy-2.jpg' %}" />
              <div>
                <p>Slim-fit Joggers</p>
                <small>Price: $40.00</small><br />
                <a href="#" style="color: #ff523b">Remove</a>
              </div>
            </div>
          </td>
          <td><input type="number" value="1" /></td>
          <td>$50.00</td>
        </tr>
        <tr>
          <td>
            <div class="cart-info">
              <img src="{% static 'images/buy-3.jpg' %}" />
              <div>
                <p>FX Black Trainers</p>
                <small>Price: $40.00</small><br />
                <a href="#" style="color: #ff523b">Remove</a>
              </div>
            </div>
          </td>
          <td><input type="number" value="1" /></td>
          <td>$50.00</td>
        </tr>
      </table>

      <div class="total-price">
        <table>
          <tr>
            <td>Subtotal</td>
            <td>$250</td>
          </tr>
          <tr>
            <td>Tax</td>
            <td>$25</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>$275</td>
          </tr>
        </table>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="footer-col-1">
            <h3>Download Our App</h3>
            <p>Download for Android and ios mobile phone</p>

            <div class="app-logo">
              <img src="{% static 'images/play-store.png' %}" />
              <img src="{% static 'images/app-store.png' %}" />
            </div>
          </div>
          <div class="footer-col-2">
            <img src="{% static 'images/logo-white.png' %}" />
            <p>
              Our Purpose Is To Sustainably Make the Pleaseure and Benefits of
              Sports Accessible to the Many
            </p>
          </div>
          <div class="footer-col-3">
            <h3>Useful Links</h3>
            <ul>
              <li>Coupons</li>
              <li>Blog Post</li>
              <li>Return Policy</li>
              <li>Join Affliate</li>
            </ul>
          </div>
          <div class="footer-col-4">
            <h3>Follow Us</h3>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>Youtube</li>
            </ul>
          </div>
        </div>

        <hr />
        <p class="copyright">Copyright 2023 - Libra Dev</p>
      </div>
    </footer>

    <div class="footer-arrow" id="footer-arrow">
      <img src="{% static 'arrow.png' %}" />
    </div>

    <!------js for toggle menu------>

    <script>
      const menuItems = document.getElementById("menu-items");

      menuItems.style.maxHeight = "0px";

      function menuToggle() {
        if (menuItems.style.maxHeight == "0px") {
          menuItems.style.maxHeight = "200px";
        } else {
          menuItems.style.maxHeight = "0px";
        }
      }

      const arrowUp = document.getElementById("footer-arrow");

      arrowUp.addEventListener("click", () => {
        window.scrollTo({
          top: 0,
          left: 0,
          behavior: "smooth",
        });
      });
    </script>
  </body>
</html>
